<h1 class="titleElement">
  {{ titles[0] + ', ' + titles[1] }}
</h1>

<div class="introductionElement">
  <div>
    {{ introductions[0] }}
  </div>
  <br>
  <div>
    {{ introductions[1] }}
  </div>
</div>

<ng-container *ngFor="let element of desktopViewElements">
  <img
    *ngIf="element.type === viewElementTypes.Image"
    [src]="element.src"
    [alt]="element.title"
    [ngStyle]="{
      'z-index': element.zIndex,
      'left': element.medium.left + 'px',
      'top': element.medium.top + 'px',
      'transform': (element.rotate) ? 'rotate(' + element.rotate + 'deg)' : 'rotate(0deg)'
    }"
    cdkDrag
    (pointerdown)="element.zIndex = topZIndex; topZIndex = topZIndex + 1"
    (dblclick)="setFocusedElement(element)"
    [@focusing]="element.focused"
  >
</ng-container>
