:host{
  display: block;
  position: relative;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  min-height: 9000px;
}

img {
  position: absolute;
  width: 280px;
  cursor: pointer;
}

h1{
  position: absolute;
  width: 200px;
  left: 330px;
  top: 30px;

  font-size: 65px;
  font-weight: bold;
  text-align: center;
}

.introductionElement{
  position: absolute;
  width: 280px;
  left: 670px;
  top: 490px;

  font-size: 16px;
}
