
<div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="18px grid">
  <div fxFlex="280px">
    <div class="titleContainer">
      <h1>
        {{ titles[0] + ', ' }}
      </h1>
      <h1>
        {{ titles[1] }}
      </h1>
    </div>

    <div class="introductionElement">
      <div>
        {{ introductions[0] }}
      </div>
      <br>
      <div>
        {{ introductions[1] }}
      </div>
    </div>
  </div>
  <ng-container *ngFor="let element of viewElements">
    <img
      fxFlex="280px"
      *ngIf="element.type === viewElementTypes.Image"
      [src]="element.src"
      [alt]="element.title"
    >
  </ng-container>
</div>

