:host{
  overflow-y: hidden;
  overflow-x: hidden;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 98%;
}

img {
}

h1{
  text-align: left;
  margin: 0;
  font-size: 40px;
  font-weight: bold;
}

.introductionElement{
  font-size: 14px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.titleContainer {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

