/* You can add global styles to this file, and also import other style files */
html, body{
  height: 100%;
  background-color: black;
  color: white;
  margin: 0px;
  font-family: Roboto;

  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}
